[Unit]
Description=Weatherstation service
After=network.target

[Service]
Type=simple
User=pi
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/rtl_433

[Install]
WantedBy=multi-user.target